<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
                 Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <system.serviceModel>
    <services>
      <service name="EmailService.Services.EmailService" behaviorConfiguration="ServiceMetadataBehavior">
        <endpoint address="net.msmq://localhost/private/EmailService" binding="netMsmqBinding"  bindingConfiguration="msmqSecurityConfig" contract="EmailService.Services.Interfaces.IEmailService"/>
        <endpoint address="net.tcp://localhost:9040/EmailService/mex" binding ="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceMetadataBehavior">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netMsmqBinding>
        <binding name="msmqSecurityConfig" durable="true">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
    
  </system.serviceModel>

  
  
</configuration>