<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,&#xD;&#xA;                 Microsoft.Practices.Unity.Configuration"
                                                          />
  </configSections>
  <connectionStrings>
    <add name="DeliveryDataModelContainer" connectionString="metadata=res://*/DeliveryDataModel.csdl|res://*/DeliveryDataModel.ssdl|res://*/DeliveryDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SIQI\MSSQLSERVER2008;Initial Catalog=Deliveries;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <unity>

    <typeAliases>
      <!-- Lifetime manager types -->
      <typeAlias alias="singleton"
                 type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,&#xD;&#xA;                     Microsoft.Practices.Unity"
                                                />
      <typeAlias alias="external"
                 type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,&#xD;&#xA;                     Microsoft.Practices.Unity"
                                                />

      <!-- Custom object types -->
      <typeAlias alias="IDeliveryProvider"
                 type="DeliveryCo.Business.Components.Interfaces.IDeliveryProvider, DeliveryCo.Business.Components.Interfaces" />
      <typeAlias alias="DeliveryProvider"
                 type="DeliveryCo.Business.Components.DeliveryProvider, DeliveryCo.Business.Components" />
    </typeAliases>
    <containers>
      <container name="containerOne">
        <types>

          <type type="IDeliveryProvider" mapTo="DeliveryProvider" />
        </types>
      </container>
    </containers>
  </unity>
  <system.serviceModel>
    <client />
    <services>
      <service name="DeliveryCo.Services.DeliveryService" behaviorConfiguration="ServiceMetadataBehavior">
        <endpoint address="net.msmq://localhost/private/DeliveryService"
                binding="netMsmqBinding"
                contract="DeliveryCo.Services.Interfaces.IDeliveryService"
                bindingConfiguration="msmqSecurityConfig"/>
        
        <endpoint address="net.tcp://127.0.0.1:9030/DeliveryService/mex" binding="mexTcpBinding"  contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <netMsmqBinding>
        <binding name="msmqSecurityConfig" durable="true">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
      <netTcpBinding>
        <binding name="TransactionalTCP" transactionFlow="true" />
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceMetadataBehavior">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>